@model Drippin.Models.Role
@* Vista retornada por: RolesController.Details *@

@{
    ViewData["Title"] = "Detalles del Rol";
}

<h1 class="text-white">Especificación del Rol</h1>

<div class="text-white">
    <h4>Atributos Definidos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreRol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreRol)
        </dd>
    </dl>
</div>
<div class="mt-3">
    @* Navegación a las funciones de edición o retorno al listado principal. *@
    <a asp-action="Edit" asp-route-id="@Model?.IdRol" class="btn btn-primary">Editar Registro</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>
