@model Drippin.Models.Categoria

@{
    ViewData["Title"] = "Create";
}

<style>

    th {
        color: white;
    }

    td {
        color: white;
    }

    h1 {
        color: white;
    }

    div {
        color: white;
    }

</style>

<h1>Create</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatNombre" class="control-label"></label>
                <input asp-for="CatNombre" class="form-control" />
                <span asp-validation-for="CatNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatICO" class="control-label"></label>
                <input asp-for="CatICO" class="form-control" />
                <span asp-validation-for="CatICO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
