@model Drippin.Models.Categoria
@* Vista retornada por: CategoriasController.Delete *@

@{
    ViewData["Title"] = "Eliminar Categoría";
}

<style>
    th {
        color: white;
    }

    td {
        color: white;
    }

    h1 {
        color: white;
    }

    div {
        color: white;
    }
</style>

<h1>Eliminar Categoría</h1>

<h3>¿Está seguro de que desea eliminar este registro?</h3>
<div>
    <h4>Detalles de la Categoría</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatNombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @* Persistencia del identificador único para la ejecución de la eliminación en el servidor. *@
        <input type="hidden" asp-for="CategoriaId" />
        
        <input type="submit" value="Confirmar Eliminación" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
    </form>
</div>
