@* Vista retornada por: HomeController.Privacy *@
@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1 class="text-white">@ViewData["Title"]</h1>

@* Sección destinada a la especificación detallada de las políticas de tratamiento de datos y privacidad del sitio. *@
<p class="text-white">Esta página contiene los lineamientos de privacidad y protección de datos para los usuarios de Drippin Lab.</p>
